<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesContacto.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav class="navbar navbar-light fixed-top navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/index.html">ProtoCool OS</a>
    
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarOpen">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarOpen">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:5000/">JR48</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/templates/cluster.html">Clustering</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/templates/redneuronal.html">Red Neuronal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/templates/Contacto/indexContacto.html">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Documentación</a>
                    </li>
                </ul>
            </div>
    
        </div>
    </nav>
    
    <!-- Modal -->
    <div id="documentationModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Documentación</h2>
            <iframe id="docPreview" src="../../Informe_DSS_Tsunami.pdf" width="100%" height="600px"></iframe>
            <button id="downloadButton" class="btn btn-primary mt-3">Descargar Documentación</button>
        </div>
    </div>

    <div class="main">
        <div class="container__cards">

        <div class="card">
            <div class="cover">
                <img src="JesusView.png" alt="" >
                <div class="img__back"></div>
            </div>
            <div class="description">
                <h2>Jesús Imaña</h2>
                <p>Amante de la tecnología y entusiasta de la programación. Estudiante en la UCB con pasión por explorar nuevas fronteras en el mundo de la programación.</p>
                <ul>
                    <li><a class="google" href="mailto:imajesus08@gmail.com"><i class="ri-google-fill"></i></a></li>
                    <li><a class="instagram" href="https://www.instagram.com/jesdan_rs?igsh=NzlsejNiMGd1Z2h6"><i class="ri-instagram-fill"></i></a></li>
                    <li><a class="github" href="https://github.com/JesusIma"><i class="ri-github-fill"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="card">
            <div class="cover">
                <img src="TalosView-removebg-preview.png" alt="">
                <div class="img__back"></div>
            </div>
            <div class="description">
                <h2>Carlos Caba</h2>
                <p>Amante de la tecnología y entusiasta de la Inteligencia Artificial y el Machine Learning. Estudiante en la UCB con una sed de conocimiento y un deseo constante de crecimiento personal y profesional.</p>
                <ul>
                    <li><a class="google" href="mailto:carlocaba2004@gmail.com"><i class="ri-google-fill"></i></a></li>
                    <li><a class="instagram" href="https://www.instagram.com/talitos.alv?utm_source=qr&igsh=MWxyb3V2dGZ2anRwYg=="><i class="ri-instagram-fill"></i></a></li>
                    <li><a class="github" href="https://github.com/Talitos7"><i class="ri-github-fill"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="card">
            <div class="cover">
                <img src="capLU-removebg-preview.png" alt="">
                <div class="img__back"></div>
            </div>
            <div class="description">
                <h2>Luciana Velasco</h2>
                <p>Apasionada por la tecnología, especialmente por la Inteligencia Artificial y el Machine Learning. Estudiante en la UCB con un interés particular en explorar nuevas aplicaciones y desarrollos en estos campos.</p>
                <ul>
                    <li><a class="google" href="mailto:lucivp22@gmail.com"><i class="ri-google-fill"></i></a></li>
                    <li><a class="github" href="https://github.com/LuwuVelasco"><i class="ri-github-fill"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="card">
            <div class="cover">
                <img src="DamView.png" alt="">
                <div class="img__back"></div>
            </div>
            <div class="description">
                <h2>Damaris Nina</h2>
                <p>Entusiasta de la tecnología y amante del diseño multimedia, con un interés particular en la IA. Estudiante en la UCB, siempre buscando aprender y explorar nuevas oportunidades en el mundo de la tecnología y el diseño.</p>
                <ul>
                    <li><a class="google" href="mailto:@gmail.com"><i class="ri-google-fill"></i></a></li>
                    <li><a class="instagram" href="https://www.instagram.com/surprise_leonardini?igsh=NGEwMmdrOTZ1a3V4"><i class="ri-instagram-fill"></i></a></li>
                    <li><a class="github" href="https://github.com/DamLeo19"><i class="ri-github-fill"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="card">
            <div class="cover">
                <img src="ChuteView.png" alt="">
                <div class="img__back"></div>
            </div>
            <div class="description">
                <h2>Franz Carvajal</h2>
                <p>Aficionado a la tecnología con un enfoque especializado en Hacking y ciberseguridad. Estudiante en la UCB con una pasión de seguir descubriendo nuevas vulnerabilidades.</p>
                <ul>
                    <li><a class="google" href="mailto:franz.carvajal04@gmail.com"><i class="ri-google-fill"></i></a></li>
                    <li><a class="instagram" href="https://www.instagram.com/franz.car/"><i class="ri-instagram-fill"></i></a></li>
                    <li><a class="github" href="https://github.com/MrBl4ck04"><i class="ri-github-fill"></i></a></li>
                </ul>
            </div>
        </div>

    </div>

    <div class="copyright">
        <p>Copyright 2024, ProtoCool OS</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
    <script>
        // Espera a que el DOM cargue completamente
        document.addEventListener('DOMContentLoaded', function () {
            const navbar = document.querySelector('.navbar');
            window.addEventListener('scroll', function () {
                if (window.scrollY > 50) {
                    navbar.classList.add('scrolled');
                } else {
                    navbar.classList.remove('scrolled');
                }
            });
        });
    </script>    

    <script>
        // Obtener el modal
        var modal = document.getElementById("documentationModal");

        // Obtener el botón que abre el modal
        var btn = document.querySelector(".nav-link[href='#']");

        // Obtener el elemento <span> que cierra el modal
        var span = document.getElementsByClassName("close")[0];

        // Cuando el usuario hace clic en el botón, abre el modal
        btn.onclick = function() {
            modal.style.display = "block";
        }

        // Cuando el usuario hace clic en <span> (x), cierra el modal
        span.onclick = function() {
            modal.style.display = "none";
        }

        // Cuando el usuario hace clic en cualquier lugar fuera del modal, cierra el modal
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        // Descargar la documentación
        document.getElementById("downloadButton").onclick = function() {
            window.location.href = '../../Informe_DSS_Tsunami.pdf'; // Cambia esta ruta al archivo de documentación
        }
    </script>

</body>
</html>